data/lasttwoyearslist.txt
data/aaa
data/masterfilelist.txt
data/classified-ads-for-cars.zip
docs/R_Journal/csda1020-project1/csda1020-project1.tex
docs/R_Journal/csda1020-project1/RJwrapper.tex
docs/R_Journal/csda1020-project1/preamble.tex
